<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Activities Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="css/style.css" rel="stylesheet" media="screen" />
    <script>
      // getWeek prototype from https://bitbucket.org/agustinhaller/date.getweek
      Date.prototype.getWeek =  function() {
        // We have to compare against the first monday of the year not the 01/01
        var day_miliseconds = 60 * 60 * 24 * 1000;
        var onejan = new Date(this.getFullYear(), 0, 1, 0, 0, 0);
        var onejan_day = (onejan.getDay() == 0) ? 7 : onejan.getDay();
        var days_for_next_monday = (8 - onejan_day);
        // This refers to the miliseconds of the next monday after 01/01
        var onejan_next_monday_time = onejan.getTime() + (days_for_next_monday * day_miliseconds);
        // If one jan is not a monday, get the first monday of the year
        var first_monday_year_time = (onejan_day > 1) ? onejan_next_monday_time : onejan.getTime();
        var this_date = new Date(this.getFullYear(), this.getMonth(), this.getDate(), 0, 0, 0);
        var this_time = this_date.getTime();
        var days_from_first_monday = Math.round((this_time - first_monday_year_time) / day_miliseconds);
        var first_monday_year = new Date(first_monday_year_time);

        // We add 1 to "days_from_first_monday" because if "days_from_first_monday" is *7,
        // then 7/7 = 1, and as we are 7 days from first monday,
        // we should be in week number 2 instead of week number 1 (7/7=1)
        // We consider week number as 52 when "days_from_first_monday" is lower than 0,
        // that means the actual week started before the first monday so that means we are on the firsts
        // days of the year (ex: we are on Friday 01/01, then "days_from_first_monday"=-3,
        // so friday 01/01 is part of week number 52 from past year)
        // "days_from_first_monday<=364" because (364+1)/7 == 52, if we are on day 365, then (365+1)/7 >= 52 (Math.ceil(366/7)=53) and thats wrong
        return (days_from_first_monday >= 0 && days_from_first_monday < 364) ? Math.ceil((days_from_first_monday + 1) / 7) : 52;
      }
    </script>
  </head>
  <body>
    <main role="main" id="main"></main>

    <script id="activities-dashboard" type="text/template">
      <div class="provider_status">
      </div>
      <div class="provider_login">
      </div>
      <div class="provider_dashboard">
      </div>
    </script>


    <script id="github-status-not-logged-in" type="text/template">
      <img src="img/github-mark.png" height="36px" width="36px" alt="" />
      <div class="btn-group btn-group-sm">
        <button class="login_button btn btn-default">Log in</button>
      </div>
    </script>

    <script id="github-status-logged-in" type="text/template">
      <a href="<%= html_url %>" target="_blank"><img src="<%= avatar_url %>" height="36px" width="36px" alt="" /></a>
      <span class="query_groups glyphicon glyphicon-refresh" title="Refresh organization units"></span>
      <div class="btn-group btn-group-sm">
        <button class="logout_button btn btn-default">Log out, <%- name %></button>
      </div>
    </script>

    <script id="github-login-form" type="text/template">
      <form>
        <h2><img src="img/github-mark.png" height="48px" width="48px" alt="" />Sign in</h2>
        <label>Choose authentication method</label>
        <select class="form-control github_authtype">
          <option value="oauth" selected="selected">OAuth</option>
          <option value="basic">Basic</option>
        </select>
        <input class="form-control github_token" type="text" placeholder="GitHub OAuth token?" />
        <input class="form-control github_username" type="text" placeholder="GitHub username?" />
        <input class="form-control github_password" type="password" placeholder="GitHub password?" />
        <button class="login_button btn btn-primary">Login</button>
        <span class="login_failed"><span class="help-inline">failed - please retry</span></span>
        <button class="hide_button btn btn-default">Hide</button>
      </form>
    </script>


    <script id="test-status-not-logged-in" type="text/template">
      <div class="btn-group btn-group-sm">
        <button class="login_button btn btn-default">Log in</button>
      </div>
    </script>

    <script id="test-status-logged-in" type="text/template">
      <span>
        Groups: <%= groups %> [<a href="#" class="add_group_button">+</a>|<a href="#" class="remove_group_button">-</a>],
        Repos: <%= repos %> [<a href="#" class="add_repo_button">+</a>|<a href="#" class="remove_repo_button">-</a>],
        Activities: <%= activities %> [<a href="#" class="add_activity_button">+</a>|<a href="#" class="remove_activity_button">-</a>]
      </span>
      <span class="query_groups glyphicon glyphicon-refresh" title="Refresh groups"></span>
      <div class="btn-group btn-group-sm">
        <button class="logout_button btn btn-default">Log out</button>
      </div>
    </script>

    <script id="test-login-form" type="text/template">
      <form>
        <h2>Sign in</h2>
        <button class="login_button btn btn-primary">Login</button>
        <button class="hide_button btn btn-default">Hide</button>
      </form>
    </script>


    <script id="summary-template" type="text/template">
      Summary:
      <% if (matched_activity_summary.hasAnyActivity()) {
        if (matched_activity_summary.hasIssueActivity()) { %>
          <span class="badge badge-issues" title="Issues">i
            <span title="Issues opened"><%= matched_activity_summary.issues_opened %></span> |
            <span title="Issues closed"><%= matched_activity_summary.issues_closed %></span> |
            <span title="Issues comments"><%= matched_activity_summary.issue_comments %></span>
          </span>
        <% }
        if (matched_activity_summary.hasPullRequestActivity()) { %>
          <span class="badge badge-pull-requests" title="Pull requests">pr
            <span title="PR opened"><%= matched_activity_summary.pull_requests_opened %></span> |
            <span title="PR closed"><%= matched_activity_summary.pull_requests_closed %></span> |
            <span title="PR comments"><%= matched_activity_summary.pull_request_comments %></span>
          </span>
        <% }
        if (matched_activity_summary.tags) { %>
          <span class="badge badge-tags" title="Tags">t <%= matched_activity_summary.tags %></span>
        <% }
        if (matched_activity_summary.commits) { %>
          <span class="badge badge-commits" title="Commits">c <%= matched_activity_summary.commits %></span>
        <% }
      } %>
    </script>


    <script id="filter-template" type="text/template">
      <input type="checkbox" name="filter_starred" id="filter_starred"<% if (starred) { print(' checked="checked"') } %>/>
      <label for="filter_starred">Filter starred</label>

      <label for="filter_age_days">Filter recent activity</label>
      <input type="number" name="filter_age_days" min="0" value="<%= age_days %>" /> days
    </script>


    <script id="group-header-template" type="text/template">
      <span class="actions">
        <span class="query_repos glyphicon glyphicon-refresh"></span>
        <span class="loader"><img src="img/loader.gif" width="16px" height="16px" alt="" /></span>
        <span class="remove_group glyphicon glyphicon-trash"></span>
        <% if (matched_activity_summary.hasAnyActivity()) {
          if (matched_activity_summary.hasIssueActivity()) { %>
            <span class="badge badge-issues" title="Issues">i
              <span title="Issues opened"><%= matched_activity_summary.issues_opened %></span> |
              <span title="Issues closed"><%= matched_activity_summary.issues_closed %></span> |
              <span title="Issues comments"><%= matched_activity_summary.issue_comments %></span>
            </span>
          <% }
          if (matched_activity_summary.hasPullRequestActivity()) { %>
            <span class="badge badge-pull-requests" title="Pull requests">pr
              <span title="PR opened"><%= matched_activity_summary.pull_requests_opened %></span> |
              <span title="PR closed"><%= matched_activity_summary.pull_requests_closed %></span> |
              <span title="PR comments"><%= matched_activity_summary.pull_request_comments %></span>
            </span>
          <% }
          if (matched_activity_summary.tags) { %>
            <span class="badge badge-tags" title="Tags">t <%= matched_activity_summary.tags %></span>
          <% }
          if (matched_activity_summary.commits) { %>
            <span class="badge badge-commits" title="Commits">c <%= matched_activity_summary.commits %></span>
          <% }
        } %>
      </span>
      <img class="avatar" src="<%= avatar_url %>" height="36px" width="36px" alt="" />
      <a href="https://github.com/<%= name %>" target="_blank"><%- name %></a>
      <% if (starred_repos.length > 0) { %>
        <span class="glyphicon glyphicon-star"></span>
      <% } %>
      <div class="clearfix"></div>
    </script>

    <script id="repo-header-template" type="text/template">
      <span class="actions">
        <span class="reset_activities glyphicon glyphicon-remove"></span>
        <span class="query_activities glyphicon glyphicon-refresh"></span>
        <span class="loader"><img src="img/loader.gif" width="16px" height="16px" alt="" /></span>
        <span class="remove_repo glyphicon glyphicon-trash"></span>
        <% if (!activity_summary.hasAnyActivity()) { %>
          <span class="badge">&middot;</span>
        <% } else if (!matched_activity_summary.hasAnyActivity()) { %>
          <span class="badge badge-queried">&middot;</span>
        <% } else {
          if (matched_activity_summary.hasIssueActivity()) { %>
            <span class="badge badge-issues" title="Issues">i
              <span title="Issues opened"><%= matched_activity_summary.issues_opened %></span> |
              <span title="Issues closed"><%= matched_activity_summary.issues_closed %></span> |
              <span title="Issues comments"><%= matched_activity_summary.issue_comments %></span>
            </span>
          <% }
          if (matched_activity_summary.hasPullRequestActivity()) { %>
            <span class="badge badge-pull-requests" title="Pull requests">pr
              <span title="PR opened"><%= matched_activity_summary.pull_requests_opened %></span> |
              <span title="PR closed"><%= matched_activity_summary.pull_requests_closed %></span> |
              <span title="PR comments"><%= matched_activity_summary.pull_request_comments %></span>
            </span>
          <% }
          if (matched_activity_summary.tags) { %>
            <span class="badge badge-tags" title="Tags">t <%= matched_activity_summary.tags %></span>
          <% }
          if (matched_activity_summary.commits) { %>
            <span class="badge badge-commits" title="Commits">c <%= matched_activity_summary.commits %></span>
          <% }
        } %>
      </span>
      <span class="glyphicon glyphicon-folder-close"></span><span class="glyphicon glyphicon-folder-open"></span>
      <a href="<%= repo_url %>" target="_blank"><%- name %></a>
      <% if (is_starred) { %>
        <span class="glyphicon glyphicon-star"></span>
      <% } %>
      <div class="clearfix"></div>
    </script>

    <script id="activity-template" type="text/template">
      <span class="label label-default" title="<%= timestamp %>">W<%= timestamp.getWeek() %> <%= timestamp.getFullYear() %></span>
      <a href="<%= url %>" target="_blank"><%= text.length > 30 ? (text.substr(0, 30) + '...') : text %></a>
      <span class="actions">
        <% if (issues_opened || issues_closed || issue_comments) { %>
          <span class="badge badge-issues" title="Issues">i <%= issues_opened %> | <%= issues_closed %> | <%= issue_comments %></span>
        <% } %>
        <% if (pull_requests_opened || pull_requests_closed || pull_request_comments) { %>
          <span class="badge badge-pull-requests" title="Pull requests">pr <%= pull_requests_opened %> | <%= pull_requests_closed %> | <%= pull_request_comments %></span>
        <% } %>
        <% if (tags) { %>
          <span class="badge badge-tags" title="Tags">t <%= tags %></span>
        <% } %>
        <% if (commits) { %>
          <span class="badge badge-commits" title="Commits">c <%= commits %></span>
        <% } %>
      </span>
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-url/1.8.4/url.min.js"></script>

    <script src="js/base64_encode.js"></script>
    <script src="js/activities_dashboard.js"></script>

    <script src="js/github.js"></script>
    <script src="js/github_provider.js"></script>
    <script src="js/test_provider.js"></script>

    <script src="config.js"></script>
  </body>
</html>
